@media (min-width: 992px) {
  .brand {
    background-color: #133766;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #fff9;
    }
    .brand .btn i {
      color: #494b74; }
    .brand .btn .svg-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #ffffff;
      }
    .brand .btn .svg-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .brand .btn.active .svg-icon svg g [fill], .brand .btn:hover .svg-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #e0fddd;
      }
    .brand .btn.active .svg-icon svg:hover g [fill], .brand .btn:hover .svg-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .brand .btn.active i, .brand .btn:hover i {
      color: #3699FF; } }

@media (max-width: 991.98px) {
  .header-mobile {
    background-color: #133766;
    }
    .header-mobile .burger-icon span {
      background-color: #ffffff;
      }
      .header-mobile .burger-icon span::before, .header-mobile .burger-icon span::after {
        background-color: #ffffff;
        }
    .header-mobile .burger-icon:hover span {
      background-color: #3699FF; }
      .header-mobile .burger-icon:hover span::before, .header-mobile .burger-icon:hover span::after {
        background-color: #3699FF; }
    .header-mobile .burger-icon-active span {
      background-color: #3699FF; }
      .header-mobile .burger-icon-active span::before, .header-mobile .burger-icon-active span::after {
        background-color: #3699FF; }
    .header-mobile .btn i {
      color: #484f66; }
    .header-mobile .btn .svg-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #484f66; }
    .header-mobile .btn .svg-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-mobile .btn.active .svg-icon svg g [fill], .header-mobile .btn:hover .svg-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #3699FF; }
    .header-mobile .btn.active .svg-icon svg:hover g [fill], .header-mobile .btn:hover .svg-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-mobile .btn.active i, .header-mobile .btn:hover i {
      color: #3699FF; } }
      
      
      
      
      
      
      
      
      
      
      
      
      
      .sh-logo{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 80px;
}
.sh-logo img{
    float: none;
    width: 300px;
   
}

.sh-logo h2{
    float: left;
    width: 100%;
}
      
      
      
      
      
      
      
      
      
      
